@font-face{

    font-family: 'SAOFont';
    src: url('fonte/SAOWelcome-Regular.otf') format('opentype'), url('font/SAOWelcomeTT-Regular.ttf') format('truetype');

}

p, a, li, button{

    font-family: 'SAOFont';

}

img{

    user-select: none;
    pointer-events: none;

}

button{

    user-select: none;

}

.modal{

    display: flex;
    visibility: hidden;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.959);
    z-index: 1;
    
}

.modal.aberto{

    display: flex;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.788);
    animation: abrirModal 0.4s ease-in;

}

.cabecalho{

    display: flex;
    justify-content: space-between;
    padding: 5px;
    max-width: 1440px;
    margin: 0 auto;

}

.cabecalho .logo{

    width: 140px;
    height: 100%;
    align-items: center;
    

}

.cabecalho .menu{

    display: flex;
    height: 100%;
    align-items: center;

}

.cabecalho nav li{

    margin: 5px;

}

.cabecalho nav li a{

    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    transition: 0.3s;
    letter-spacing: 2px;
    user-select: none;

}

.cabecalho nav li a:hover{

    border-radius: 50px;
    background-color: rgb(49, 206, 206);

}

.container{

    display: flex;
    align-items: center;
    height: calc(100vh-116.956px);
    max-width: 1440px;
    margin: 0 auto;
    margin-left: 4%;

}

#SAOOrdinalScaleWord{

    width: 700px;
    padding-bottom: 2%;
    animation: levitar 1.5s;

}

#Sinopse{

    font-size: 22px;
    text-align: justify;
    line-height: 150%;
    padding-bottom: 20px;
    letter-spacing: 0.5px;

}

#Sinopse::selection{

    background-color: rgba(49, 206, 206, 0.123);

}

.divdoBotao{

    height: 32px;

}

.container .botao{

    background-color: rgb(49, 206, 206);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    display: flex;
    align-items: center;

}

.container .botao:hover{

    transform: scale(1.1);
    

}

#SAOOrdinalScale{

    z-index: -1;
    animation: levitar 1.5s infinite alternate;

}

/* Animação modal*/
@keyframes abrirModal{
    
    0%{

        opacity: 0;

    }

    100%{

        opacity: 1;

    }

}

@keyframes fecharModal{
    
    0%{

        opacity: 1;

    }

    100%{

        opacity: 0;

    }

}

/* Animação imagens*/

@keyframes levitar{
    
    0%{

        transform: translateY(-25px);

    }


    100%{

        transform: translateY(1px);

    }

}

#player{

    display: flex;
    z-index: -5;
    user-select: none;

}

.container p{

    color: white;

}

.fundo-video{

    background-color: black;
    position: absolute;
    justify-content: center;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

.fundo-video .video{

    height: 100vh;
    width: 100%;

}

.fundo-video::after{

    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);

}
